@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: o;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #537e1b, #87ff7c);
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-top: 10%;
    margin-left: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: rgb(250, 240, 100);
}
.input-box{
    display: flex;
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: #fd8f28;
    align-items: center;
    
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    
 }
 .input-box button{
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}
.input-box button:hover{
    background:linear-gradient(135deg,  #f7fa4a,  #fdf35e);
     
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 20px;
    color: rgb(128, 3, 3);
    font-weight: 600;
 }